@use './variables';
@use './mixins';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: variables.$font-stack;

}

main {
    min-height: 100vh;
}


h1 {
    font-size: variables.$h1-size;
    color: variables.$primary-color;
    margin-bottom: variables.$heading-margin-bottom;
    padding-inline: 1rem;
}

h2 {
    font-size: variables.$h2-size;
    margin-bottom: variables.$heading-margin-bottom;
    margin-top: variables.$heading-margin-top;
}

p {
    line-height: 1.5;
    font-size: variables.$text-size;
    max-width: 65ch;
    margin-bottom: 1rem;
}

footer {
    background-color: variables.$primary-dark-color;
    color: variables.$text-light;

    a {
        @extend %footer-link;
    }
}

/*-----------------------------------------------------*/
/*-------------------------TEMAN-----------------------*/
/*-----------------------------------------------------*/


/*Media qureies tilll ljus eller mörk schema */

@media (prefers-color-scheme: light) {
    body {
        @include mixins.theme-styles(true);

        
        h2 {
            color: variables.$text-dark;
        }

    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include mixins.theme-styles(false);


        h1 {
            color: variables.$secondary-color;
        }

        h2 {
            color: variables.$text-light;
        }


        .nav-link {
            background-color: variables.$primary-light-color;
        }
    }

}



/*  manuellt byta mörk eller ljus tema */

body.light-theme {
    @include mixins.theme-styles(true);

    h1 {
        color: variables.$primary-color;
    }

    
    h2 {
        color: variables.$text-dark;
    }


}


body.dark-theme {
    @include mixins.theme-styles(false);

    h1 {
        color: variables.$secondary-color;
    }

    h2 {
        color: variables.$text-light;
    }
}