@use './variables';

@mixin theme-styles($light-theme: true) {
    @if $light-theme {
        background-color: variables.$background-light;
        color: variables.$text-dark;
    }

    @else {
        background-color: variables.$background-dark;
        color: variables.$text-light;
    }
}

@mixin button($background-color, $text-color) {
    background-color: $background-color;
    color: $text-color;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

%footer-link {
    color: variables.$text-light;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}