@use './variables';

@mixin theme-styles($light-theme: true) {
    @if $light-theme {
        background-color: variables.$background-light;
        color: variables.$text-dark;
        transition: background-color 0.5s ease, color 0.5s ease;
        ;
    }

    @else {
        background-color: variables.$background-dark;
        color: variables.$text-light;
        transition: background-color 0.5s ease, color 0.5s ease;
    }
}

@mixin button($background-color, $text-color) {
    background-color: $background-color;
    color: $text-color;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}




/* länkar i footer */
%footer-link {
    color: variables.$text-light;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}