@use 'sass:color';

/*-----------------------------------------------------*/
/*---------------------TYPOGRAFI-----------------------*/
/*-----------------------------------------------------*/
$font-stack: 'Inter', Helvetica, Arial, sans-serif;
$text-size: 1rem;
$h1-size: 2rem;
$h2-size: 1.6rem;
$heading-margin-bottom: 0.6rem;
$heading-margin-top: 0.6rem;



/*-----------------------------------------------------*/
/*------------------------FÄRGER-----------------------*/
/*-----------------------------------------------------*/
$primary-color: #37588d;
$secondary-color: #8eadb3; 

$primary-light-color: color.scale($primary-color, $lightness: 40%);
$primary-dark-color: color.scale($primary-color, $lightness: -20%);


$background-light: #f5f5dc;
$background-dark: #2c3e50;

$background-menu: #162b49; 


$text-light: #ffffff;
$text-dark: #0c0c0c;

$cursor-light: #ffffff;
$cursor-dark: #0c0c0c; 