@use 'sass:color';

/*-----------------------------------------------------*/
/*---------------------TYPOGRAFI-----------------------*/
/*-----------------------------------------------------*/
$font-stack: 'Inter', Helvetica, Arial, sans-serif;
$text-size: 1rem;
$h1-size: 2.2rem;
$h2-size: 1.8rem;
$h3-size: 1.3rem;
$heading-margin-bottom: 0.3em;
$heading-margin-top: 0.3em;



/*-----------------------------------------------------*/
/*------------------------FÄRGER-----------------------*/
/*-----------------------------------------------------*/
$primary-color: #234479;
$secondary-color: #8eadb3; 

$primary-light-color: color.scale($primary-color, $lightness: 35%);
$primary-dark-color: color.scale($primary-color, $lightness: -20%);


$background-light: #f5f5dc;
$background-dark: #2c3e50;


$text-light: #ffffff;
$text-dark: #0c0c0c;
