@use './base/variables';
@use './base/mixins';

/*Navigationsmeny */
.nav-link {
    @include mixins.button(variables.$primary-color, variables.$text-light);

    body.dark-theme & {
        @include mixins.button(variables.$primary-light-color, variables.$text-light);

    }
}

.theme-button {
    @include mixins.button(variables.$secondary-color, variables.$text-dark);
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: 600;
    height: 40px;
}



.mobile-menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 8px 12px;
    z-index: 999;

    @include mixins.button(variables.$primary-color, variables.$text-light);

    body.dark-theme & {
        @include mixins.button(variables.$primary-light-color, variables.$text-light);
    }

}

/* Meny för tablett och mobiler */
@media screen and (max-width: 1024px) {

    body {
        overflow-x: hidden; /* Hindrar från att scrolla horisontellt */
    }

    /* Visa hamburgermenyn */
    .mobile-menu-button {
        display: block
    }

    /* Dölj desktop menyn  */
    .menu {
        display: flex;
        flex-direction: column;
        position:fixed;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        width: 200px;
        background-color: variables.$background-menu;

        transform: translateX(100%); /* Menyn börjar utanför skärmen. */
        transition-timing-function: ease-out;
        transition-duration: 0.45s;
      



        ul {
            display: flex;
            flex-direction: column;
            margin-top: 150px;
            min-height: 100vh;
        }

        li {
            width: 100%;
        }

        a {
            display: block;
            text-align: center;
            width: 100%;

        }

    }

    .menu.active {
        transform: translateX(0);
      
    }

}


