@use './base/variables';
@use './base/mixins';

/*Navigationsmeny */
.nav-link {
    @include mixins.button(variables.$primary-color, variables.$text-light);

    body.dark-theme & {
        @include mixins.button(variables.$primary-light-color, variables.$text-light);
        
    }
}

.theme-button {
    @include mixins.button(variables.$secondary-color, variables.$text-dark);
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: 600;
    height: 40px;
}