@use './base/base';
@use './base/variables';
@use './base/mixins';

.container {
    max-width: 1440px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding-inline: 0.3rem;
}

nav {

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    a {
        text-decoration: none;
    }
}


.page-section {
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .containter, footer {
        display: flex;
        flex-direction: column;
       
    }

    .page-section {
        width: 100%;
        padding-inline: 1rem;
        gap:0.5rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    footer p {
        display: block; 
        gap: 0;
    }

}